#basic-addonR{
    background-color: red;
}

#basic-addonG{
    background-color: green;
}

#basic-addonB{
    background-color: blue;
}

#calc-preview{
    background-color: black;
    width: 100px;
    height: 30px;
    display: inline-block;
}